---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-fabricator-githedgehog-com-v1beta1-controlnode
  failurePolicy: Fail
  name: mcontrolnode.kb.io
  rules:
  - apiGroups:
    - fabricator.githedgehog.com
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - controlnodes
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-fabricator-githedgehog-com-v1beta1-fabricator
  failurePolicy: Fail
  name: mfabricator.kb.io
  rules:
  - apiGroups:
    - fabricator.githedgehog.com
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - fabricators
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-fabricator-githedgehog-com-v1beta1-fabnode
  failurePolicy: Fail
  name: mnode.kb.io
  rules:
  - apiGroups:
    - fabricator.githedgehog.com
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - fabnodes
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-fabricator-githedgehog-com-v1beta1-controlnode
  failurePolicy: Fail
  name: vcontrolnode.kb.io
  rules:
  - apiGroups:
    - fabricator.githedgehog.com
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - controlnodes
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-fabricator-githedgehog-com-v1beta1-fabricator
  failurePolicy: Fail
  name: vfabricator.kb.io
  rules:
  - apiGroups:
    - fabricator.githedgehog.com
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - fabricators
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-fabricator-githedgehog-com-v1beta1-fabnode
  failurePolicy: Fail
  name: vnode.kb.io
  rules:
  - apiGroups:
    - fabricator.githedgehog.com
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - fabnodes
  sideEffects: None
