# Fabricator object and at least one ControlNode are required
# For more configuration options see https://docs.githedgehog.com

# For generating password hash use `openssl passwd -5`

apiVersion: fabricator.githedgehog.com/v1beta1
kind: Fabricator
metadata:
  name: default
  namespace: fab
spec:
  config:
    {{- if .RegUpstream }}
    registry:
      mode: upstream
      upstream:
        repo: {{ .RegUpstream.Repo }}
        prefix: {{ .RegUpstream.Prefix }}
        noTLSVerify: {{ .RegUpstream.NoTLSVerify }}
        username: {{ .RegUpstream.Username }}
        password: {{ .RegUpstream.Password }}
    {{- end }}
    control:
      {{- if .TLSSAN }}
      tlsSAN: # IPs and DNS names that will be used to access API
        {{- range .TLSSAN }}
        - "{{ . }}"
        {{- end }}
      {{- else }}
      #tlsSAN: # IPs and DNS names that will be used to access API
      #  - "fabric.local"
      {{- end }}
      {{- if .JoinToken }}
      joinToken: "{{ .JoinToken }}"
      {{- else }}
      # join token that will be used for the first control node installation and joining other nodes to the cluster
      # if it wasn't set the random one will be generated, but if first control node is already installed, it could be
      # retrieved from the control node file /var/lib/rancher/k3s/server/token
      #joinToken: super-secret-join-token
      {{- end }}

      defaultUser: # user 'core' on all control nodes
        {{- if .DefaultPasswordHash }}
        password: "{{ .DefaultPasswordHash }}" # password hash
        {{- else }}
        #password: "$5$8nAYPGcl4..." # password hash
        {{- end }}
        {{- if .DefaultAuthorizedKeys }}
        authorizedKeys:
          {{- range .DefaultAuthorizedKeys }}
          - "{{ . }}"
          {{- end }}
        {{- else }}
        #authorizedKeys: # optional SSH authorized keys
        #  - "ssh-ed25519 AAAAC3Nza..."
        {{- end }}

    fabric:
      mode: {{ .FabricMode }} # "spine-leaf"
      {{ if .IncludeONIE }}includeONIE: true{{ end }}
      {{ if .IncludeCLS }}includeCLS: true{{ end }}
      defaultSwitchUsers:
        admin: # at least one user with name 'admin' and role 'admin'
          role: admin
          {{- if .DefaultPasswordHash }}
          password: "{{ .DefaultPasswordHash }}" # password hash
          {{- else }}
          #password: "$5$8nAYPGcl4..." # password hash
          {{- end }}
          {{- if .DefaultAuthorizedKeys }}
          authorizedKeys:
            {{- range .DefaultAuthorizedKeys }}
            - "{{ . }}"
            {{- end }}
          {{- else }}
          #authorizedKeys: # optional SSH authorized keys
          #  - "ssh-ed25519 AAAAC3Nza..."
          {{- end }}
        op: # optional read-only user
          role: operator
          {{- if .DefaultPasswordHash }}
          password: "{{ .DefaultPasswordHash }}" # password hash
          {{- else }}
          #password: "$5$8nAYPGcl4..." # password hash
          {{- end }}
          {{- if .DefaultAuthorizedKeys }}
          authorizedKeys:
            {{- range .DefaultAuthorizedKeys }}
            - "{{ . }}"
            {{- end }}
          {{- else }}
          #authorizedKeys: # optional SSH authorized keys
          #  - "ssh-ed25519 AAAAC3Nza..."
          {{- end }}
    observability:
      defaults: "{{ .O11yDefaults }}"
      {{ if .O11yLabels }}
      labels:
        {{- range $key, $value := .O11yLabels }}
        "{{ $key }}": "{{ $value }}"
        {{- end }}
      {{- end }}
    {{ if .Gateway }}
    gateway:
      enable: true
    {{- end }}

---
apiVersion: fabricator.githedgehog.com/v1beta1
kind: ControlNode
metadata:
  name: control-1
  namespace: fab
  {{- if .ControlNodeManagementLink }}
  annotations:
    link.hhfab.githedgehog.com/enp2s1: {{ .ControlNodeManagementLink}}
  {{- end }}
spec:
  bootstrap:
   disk: "/dev/sda" # disk to install OS on, e.g. "sda" or "nvme0n1"
  external:
    interface: enp2s0 # interface for external
    ip:	dhcp # IP address for external interface
  management:
    interface: enp2s1 # interface for management

{{- if .Gateway }}
---
apiVersion: fabricator.githedgehog.com/v1beta1
kind: FabNode
metadata:
  name: gateway-1
  namespace: fab
  {{- if .GatewayNodeManagementLink }}
  annotations:
    link.hhfab.githedgehog.com/enp2s0: {{ .GatewayNodeManagementLink}}
  {{- end }}
spec:
  roles:
    - gateway
  bootstrap:
   disk: "/dev/sda" # disk to install OS on, e.g. "sda" or "nvme0n1"
  management:
    interface: enp2s0 # interface for management
{{- end }}
