---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - cert-manager.io
  resources:
  - certificates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cert-manager.io
  resources:
  - certificates/status
  verbs:
  - get
- apiGroups:
  - dhcp.githedgehog.com
  resources:
  - dhcpsubnets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - fabricator.githedgehog.com
  resources:
  - controlnodes
  - fabnodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - fabricator.githedgehog.com
  resources:
  - controlnodes/status
  - fabnodes/status
  verbs:
  - get
- apiGroups:
  - fabricator.githedgehog.com
  resources:
  - fabricators
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - fabricator.githedgehog.com
  resources:
  - fabricators/finalizers
  verbs:
  - update
- apiGroups:
  - fabricator.githedgehog.com
  resources:
  - fabricators/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - helm.cattle.io
  resources:
  - helmcharts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - helm.cattle.io
  resources:
  - helmcharts/status
  verbs:
  - get
