image:
  registry: "{{ .Registry }}"
  repository: "{{ .Image }}"
  tag: "{{ .Version }}"

alloy:
  enableReporting: false
  listenAddr: 0.0.0.0 # localhost will break readiness probes
  listenPort: 12345
  extraPorts:
    - name: "pyroscope"
      port: 4040
      protocol: "TCP"
      targetPort: 4040
  storagePath: /tmp/alloy
  mounts:
    varlog: true
  configMap:
    create: true
    content: |
{{ .Config | indent 6 }}

rbac:
  create: false

serviceAccount:
  create: false

configReloader:
  enabled: false

service:
  enabled: true

controller:
  type: "daemonset"
  hostNetwork: true
  dnsPolicy: "ClusterFirstWithHostNet"
  nodeSelector:
    role.fabricator.githedgehog.com/gateway: "true"
  tolerations:
{{ .Tolerations | indent 4 }}
