---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: fabricators.fabricator.githedgehog.com
spec:
  group: fabricator.githedgehog.com
  names:
    categories:
    - hedgehog
    - fabricator
    kind: Fabricator
    listKind: FabricatorList
    plural: fabricators
    shortNames:
    - fab
    singular: fabricator
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: Fabricator defines configuration for the Fabricator controller
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              config:
                properties:
                  control:
                    properties:
                      controlVIP:
                        type: string
                      defaultUser:
                        properties:
                          authorizedKeys:
                            items:
                              type: string
                            type: array
                          password:
                            type: string
                        type: object
                      dummySubnet:
                        type: string
                      kubeClusterDNS:
                        type: string
                      kubeClusterSubnet:
                        type: string
                      kubeServiceSubnet:
                        type: string
                      managementSubnet:
                        type: string
                      tlsSAN:
                        items:
                          type: string
                        type: array
                    type: object
                  fabric:
                    properties:
                      baseVPCCommunity:
                        type: string
                      defaultAlloyConfig:
                        properties:
                          agentScrapeIntervalSeconds:
                            type: integer
                          collectSyslogEnabled:
                            type: boolean
                          controlProxyURL:
                            type: string
                          lokiTargets:
                            additionalProperties:
                              properties:
                                basicAuth:
                                  properties:
                                    password:
                                      type: string
                                    username:
                                      type: string
                                  type: object
                                bearerToken:
                                  type: string
                                caPEM:
                                  type: string
                                certPEM:
                                  type: string
                                insecureSkipVerify:
                                  type: boolean
                                labels:
                                  additionalProperties:
                                    type: string
                                  type: object
                                url:
                                  type: string
                                useControlProxy:
                                  type: boolean
                              type: object
                            type: object
                          prometheusTargets:
                            additionalProperties:
                              properties:
                                basicAuth:
                                  properties:
                                    password:
                                      type: string
                                    username:
                                      type: string
                                  type: object
                                bearerToken:
                                  type: string
                                caPEM:
                                  type: string
                                certPEM:
                                  type: string
                                insecureSkipVerify:
                                  type: boolean
                                labels:
                                  additionalProperties:
                                    type: string
                                  type: object
                                sendIntervalSeconds:
                                  type: integer
                                url:
                                  type: string
                                useControlProxy:
                                  type: boolean
                              type: object
                            type: object
                          unixExporterCollectors:
                            items:
                              type: string
                            type: array
                          unixExporterEnabled:
                            type: boolean
                          unixScrapeIntervalSeconds:
                            type: integer
                        type: object
                      defaultSwitchUsers:
                        additionalProperties:
                          properties:
                            authorizedKeys:
                              items:
                                type: string
                              type: array
                            password:
                              type: string
                            role:
                              type: string
                          type: object
                        type: object
                      eslagESIPrefix:
                        type: string
                      eslagMACBase:
                        type: string
                      fabricSubnet:
                        type: string
                      leafASNEnd:
                        format: int32
                        type: integer
                      leafASNStart:
                        format: int32
                        type: integer
                      managementDHCPEnd:
                        type: string
                      managementDHCPStart:
                        type: string
                      mode:
                        type: string
                      protocolSubnet:
                        type: string
                      spineASN:
                        format: int32
                        type: integer
                      vpcIRBVLANs:
                        items:
                          properties:
                            from:
                              type: integer
                            to:
                              type: integer
                          type: object
                        type: array
                      vpcWorkaroundSubnet:
                        type: string
                      vpcWorkaroundVLANs:
                        items:
                          properties:
                            from:
                              type: integer
                            to:
                              type: integer
                          type: object
                        type: array
                      vtepSubnet:
                        type: string
                    type: object
                  registry:
                    properties:
                      mode:
                        type: string
                      upstream:
                        properties:
                          password:
                            type: string
                          prefix:
                            type: string
                          repo:
                            type: string
                          tlsVerify:
                            type: boolean
                          username:
                            type: string
                        type: object
                    type: object
                type: object
              overrides:
                properties:
                  versions:
                    properties:
                      fabric:
                        properties:
                          agent:
                            type: string
                          alloy:
                            type: string
                          api:
                            type: string
                          boot:
                            type: string
                          controller:
                            type: string
                          ctl:
                            type: string
                          dhcpd:
                            type: string
                          nos:
                            additionalProperties:
                              type: string
                            type: object
                          proxy:
                            type: string
                          proxyChart:
                            type: string
                        type: object
                      fabricator:
                        properties:
                          api:
                            type: string
                          controlISORoot:
                            type: string
                          controller:
                            type: string
                        type: object
                      platform:
                        properties:
                          certManager:
                            type: string
                          k3s:
                            type: string
                          k9s:
                            type: string
                          reloader:
                            type: string
                          toolbox:
                            type: string
                          zot:
                            type: string
                        type: object
                      vlab:
                        properties:
                          flatcar:
                            type: string
                          onie:
                            type: string
                        type: object
                    type: object
                type: object
            type: object
          status:
            properties:
              isBootstrap:
                type: boolean
              versions:
                properties:
                  fabric:
                    properties:
                      agent:
                        type: string
                      alloy:
                        type: string
                      api:
                        type: string
                      boot:
                        type: string
                      controller:
                        type: string
                      ctl:
                        type: string
                      dhcpd:
                        type: string
                      nos:
                        additionalProperties:
                          type: string
                        type: object
                      proxy:
                        type: string
                      proxyChart:
                        type: string
                    type: object
                  fabricator:
                    properties:
                      api:
                        type: string
                      controlISORoot:
                        type: string
                      controller:
                        type: string
                    type: object
                  platform:
                    properties:
                      certManager:
                        type: string
                      k3s:
                        type: string
                      k9s:
                        type: string
                      reloader:
                        type: string
                      toolbox:
                        type: string
                      zot:
                        type: string
                    type: object
                  vlab:
                    properties:
                      flatcar:
                        type: string
                      onie:
                        type: string
                    type: object
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
