name: CI

concurrency:
  group: ci-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
  schedule:
    - cron: "0 10 * * *" # ~2am PST
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: "Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)"
        required: false
        default: false

jobs:
  # cache-tools:
  #   runs-on: ubuntu-latest # It should be faster than running in hour DC

  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v4

  #     - name: Setup Go
  #       uses: actions/setup-go@v4
  #       with:
  #         go-version: stable
  #         cache: true

  #     - name: Cache dev tools
  #       uses: actions/cache@v3
  #       with:
  #         path: bin
  #         key: bin-${{ hashFiles('hack/tools.mk') }}

  #     - name: Prepare all dev tools
  #       run: |
  #         make tools

  #     - name: Setup tmate session for debug
  #       if: ${{ failure() && github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
  #       uses: mxschmitt/action-tmate@v3
  #       timeout-minutes: 30
  #       with:
  #         limit-access-to-actor: true

  build:
    # runs-on: ["lab", "dind", "jammy"]
    runs-on: ubuntu-latest
    # needs:
    #   - cache-tools

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: stable
          cache: true

      # - name: Cache dev tools
      #   uses: actions/cache@v3
      #   with:
      #     path: bin
      #     key: bin-${{ hashFiles('hack/tools.mk') }}

      - name: Setup git for private Go modules
        env:
          GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
        run: git config --global url.https://$GH_ACCESS_TOKEN@github.com/.insteadOf https://github.com/

      - name: Build all
        run: |
          make build

      - name: hhfab init and build
        run: |
          bin/hhfab init --wt collapsedcore --wp vlab -p vlab
          bin/hhfab build -v
          ls -lah .hhfab

      - name: Setup tmate session for debug
        if: ${{ failure() && github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 30
        with:
          limit-access-to-actor: true

  publish:
    # runs-on: ["lab", "simple", "jammy"]
    runs-on: ubuntu-latest
    if: startsWith(github.event.ref, 'refs/tags/') && github.event_name == 'push'
    needs:
      # - cache-tools
      - build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: stable
          cache: true

      # - name: Cache dev tools
      #   uses: actions/cache@v3
      #   with:
      #     path: bin
      #     key: bin-${{ hashFiles('hack/tools.mk') }}

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup git for private Go modules
        env:
          GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
        run: git config --global url.https://$GH_ACCESS_TOKEN@github.com/.insteadOf https://github.com/

      - name: Publish Images, Helm charts and Bins on release
        run: |
          OCI_REPO=ghcr.io/githedgehog/fabricator make push

      - name: Setup tmate session for debug
        if: ${{ failure() && github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 30
        with:
          limit-access-to-actor: true
