name: Custom VLAB
run-name: "${{ inputs.hybrid && 'h' || 'v' }}-${{ inputs.upgradefrom }}${{ inputs.upgradefrom && '-' || '' }}${{ inputs.mesh && 'mesh-' || '' }}${{ inputs.gateway && 'gw-' || '' }}${{ inputs.buildmode }}-${{ inputs.vpcmode }}${{ inputs.releasetest && '-rt' || '' }}${{ inputs.releasetest_regex != '' && 'r' || '' }}"

on:
  workflow_dispatch:
    # github actions only supports 10 inputs for workflow_dispatch so keeping only most important ones
    inputs:
      mesh:
        description: "Use spine-leaf with mesh-only connections"
        type: boolean
        required: false
        default: false
      gateway:
        description: "Enable gateway"
        type: boolean
        required: false
        default: false
      buildmode:
        description: "Build mode"
        type: choice
        required: false
        default: "iso"
        options:
          - iso
          - usb
          - manual
      vpcmode:
        description: "VPC mode"
        type: choice
        required: false
        default: "l2vni"
        options:
          - l2vni
          - l3vni
      hybrid:
        description: "Enable hybrid mode (use env with physical switches)"
        type: boolean
        required: false
        default: false
      upgradefrom:
        description: "Upgrade from version"
        type: string
        required: false
        default: ""
      releasetest:
        description: "Run Release tests"
        type: boolean
        required: false
        default: false
      releasetest_regex:
        description: "Run only release tests matched by regex"
        type: string
        required: false
        default: ""
      releasetest_regex_invert:
        description: "Invert release test regex (only if regex is provided)"
        type: boolean
        required: false
        default: false
      pause_on_failure:
        description: "Pause on failure (enables debug)"
        type: boolean
        required: false
        default: false

permissions:
  contents: read

jobs:
  vlab:
    name: "${{ inputs.hybrid && 'h' || 'v' }}-${{ inputs.upgradefrom && 'up' || '' }}${{ inputs.upgradefrom }}${{ inputs.upgradefrom && '-' || '' }}${{ inputs.mesh && 'mesh-' || '' }}${{ inputs.gateway && 'gw-' || '' }}${{ inputs.buildmode }}-${{ inputs.vpcmode }}${{ inputs.releasetest && '-rt' || '' }}${{ inputs.releasetest_regex != '' && 'r' || '' }}"
    uses: ./.github/workflows/run-vlab.yaml
    with:
      fabricatorref: ${{ github.ref }}
      fabricmode: "spine-leaf"
      mesh: ${{ inputs.mesh }}
      gateway: ${{ inputs.gateway }}
      includeonie: false
      buildmode: ${{ inputs.buildmode }}
      vpcmode: ${{ inputs.vpcmode }}
      hybrid: ${{ inputs.hybrid }}
      upgradefrom: ${{ inputs.upgradefrom }}
      releasetest: ${{ inputs.releasetest }}
      releasetest_regex: ${{ inputs.releasetest_regex }}
      releasetest_regex_invert: ${{ inputs.releasetest_regex_invert }}
      debug: ${{ inputs.pause_on_failure }}
      pause_on_failure: ${{ inputs.pause_on_failure }}

  publish-test-results:
    if: ${{ inputs.releasetest && !cancelled() }}
    runs-on: lab
    needs:
      - vlab

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v6
        with:
          path: artifacts

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: "artifacts/**/release-test.xml"
          report_individual_runs: true
          check_run: false
          job_summary: true
          comment_mode: off
