name: Run VLAB

on:
  workflow_call:
    inputs:
      skip:
        description: "Skip"
        type: boolean
        required: false
        default: false
      fabricatorref:
        description: "Fabricator reference to use"
        type: string
        required: true
      prebuild:
        description: "Pre-build script (e.g. 'just bump fabric v0.42.0')"
        type: string
        required: false
        default: "echo 'Noop pre-build'"
      fabricmode:
        description: "Fabric mode (e.g. spine-leaf)"
        type: string
        required: false
        default: "spine-leaf"
      mesh:
        description: "Use spine-leaf with mesh-only connections"
        type: boolean
        required: false
        default: false
      gateway:
        description: "Enable gateway"
        type: boolean
        required: false
        default: false
      includeonie:
        description: "Include ONIE into installer"
        type: boolean
        required: false
        default: false
      buildmode:
        description: "Build mode (e.g. iso, usb, manual)"
        type: string
        required: false
        default: "iso"
      vpcmode:
        description: "VPC mode (e.g. l2vni, l3vni)"
        type: string
        required: false
        default: "l2vni"
      hybrid:
        description: "Enable hybrid mode (use env with physical switches)"
        type: boolean
        required: false
        default: false
      upgradefrom:
        description: "Upgrade from version"
        type: string
        required: false
        default: ""
      releasetest:
        description: "Run Release tests"
        type: boolean
        required: false
        default: false
      releasetest_regex:
        description: "Run only release tests matched by regex"
        type: string
        required: false
        default: ""
      releasetest_regex_invert:
        description: "Invert release test regex (only if regex is provided)"
        type: boolean
        required: false
        default: false
      debug:
        description: "Enable tmate debugging"
        type: boolean
        required: false
        default: false
      pause_on_failure:
        description: "Pause on failure (only if debug is enabled)"
        type: boolean
        required: false
        default: false
      custom_init_args:
        description: "Custom arguments to be passed to hhfab init"
        type: string
        required: false
        default: ""

permissions:
  contents: read

env:
  # global workflow configs
  slug: "${{ inputs.hybrid && 'h' || 'v' }}-${{ inputs.upgradefrom && 'up' || '' }}${{ inputs.upgradefrom }}${{ inputs.upgradefrom && '-' || '' }}${{ inputs.fabricmode != 'spine-leaf' && inputs.fabricmode || '' }}${{ inputs.mesh && 'mesh-' || '' }}${{ inputs.gateway && 'gw-' || '' }}${{ inputs.includeonie && 'onie-' || '' }}${{ inputs.buildmode }}-${{ inputs.vpcmode }}${{ inputs.releasetest && '-rt' || '' }}${{ inputs.releasetest_regex != '' && 'r' || '' }}${{ inputs.custom_init_args != '' && '-custom' || '' }}"
  # env vars to configure hhfab
  HHFAB_REG_REPO: 127.0.0.1:30000
  HHFAB_VLAB_COLLECT: true

jobs:
  run:
    if: ${{ !inputs.skip }}
    runs-on: ${{ inputs.hybrid && 'hlab' || 'vlab' }}
    timeout-minutes: "${{ inputs.pause_on_failure && (inputs.releasetest && (inputs.hybrid && 320 || 220) || (inputs.hybrid && 160 || 130)) || (inputs.releasetest && (inputs.hybrid && 250 || (inputs.upgradefrom != '' && 180 || 150)) || (inputs.hybrid && (inputs.upgradefrom != '' && 120 || 90) || (inputs.upgradefrom != '' && 90 || 60))) }}"

    steps:
      - name: Runner host
        run: |
          echo "$KUBE_NODE"

      - name: Inputs summary
        run: |
          echo "Inputs:"
          echo "  Fabricator reference: ${{ inputs.fabricatorref }}"
          echo "  Pre-build script: ${{ inputs.prebuild }}"
          echo "  Fabric mode: ${{ inputs.fabricmode }}"
          echo "  Mesh: ${{ inputs.mesh }}"
          echo "  Gateway: ${{ inputs.gateway }}"
          echo "  Include ONIE: ${{ inputs.includeonie }}"
          echo "  Build mode: ${{ inputs.buildmode }}"
          echo "  VPC mode: ${{ inputs.vpcmode }}"
          echo "  Hybrid: ${{ inputs.hybrid }}"
          echo "  Upgrade from: ${{ inputs.upgradefrom }}"
          echo "  Release test: ${{ inputs.releasetest }}"
          echo "  Release test regex: ${{ inputs.releasetest_regex }}"
          echo "  Release test regex invert: ${{ inputs.releasetest_regex_invert }}"
          echo "  Debug: ${{ inputs.debug }}"
          echo "  Pause on failure: ${{ inputs.pause_on_failure }}"
          echo "Calculated:"
          echo "  Slug: ${{ env.slug }}"

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          repository: githedgehog/fabricator
          ref: ${{ inputs.fabricatorref }}
          fetch-depth: 0

      - name: Checkout lab-ci repository
        uses: actions/checkout@v6
        if: ${{ inputs.hybrid }}
        with:
          repository: githedgehog/lab-ci
          path: "./lab-ci"

      - name: Pre-populate hhfab-cache
        run: |
          if [ -d "/hostcache/.hhfab-cache" ]; then
            rsync -aW --inplace --exclude='download-*' --stats /hostcache/.hhfab-cache ~/
          else
            echo "Host cache not available"
          fi

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: false

      - name: Setup local registry
        run: |
          just --timestamp _localreg &

      - name: (${{ inputs.upgradefrom }}) Install hhfab to upgrade from
        if: ${{ inputs.upgradefrom != '' }}
        run: |
          mkdir old
          curl -fsSL https://i.hhdev.io/hhfab | USE_SUDO=false INSTALL_DIR=./old VERSION="${{ inputs.upgradefrom }}" bash

      - name: (${{ inputs.upgradefrom }}) Init hhfab for virtual mode
        if: ${{ inputs.upgradefrom != '' && !inputs.hybrid }}
        run: |
          old/hhfab init -v --dev \
            --fabric-mode=${{ inputs.fabricmode }} \
            --include-onie=${{ inputs.includeonie }} \
            --gateway=${{ inputs.gateway }}
          old/hhfab vlab gen -v ${{ inputs.mesh && '--mesh-links-count=3' || '' }}

      - name: (${{ inputs.upgradefrom }}) Init hhfab for hybrid mode
        if: ${{ inputs.upgradefrom != '' && inputs.hybrid }}
        run: |
          source "./lab-ci/envs/$KUBE_NODE/source.sh"

          old/hhfab init -v --dev \
            --fabric-mode=${{ inputs.fabricmode }} \
            --include-onie=${{ inputs.includeonie }} \
            --gateway=${{ inputs.gateway }} \
            -w "./lab-ci/envs/$KUBE_NODE/wiring.yaml"

      - name: (${{ inputs.upgradefrom }}) Print hhfab versions and generate diagrams
        if: ${{ inputs.upgradefrom != '' }}
        run: |
          old/hhfab versions | tee versions.txt
          old/hhfab diagram --format=drawio
          old/hhfab diagram --format=dot
          old/hhfab diagram --format=mermaid

      # TODO: make controls restricted again when we figure out how to get NTP upstream working for isolated VMs
      - name: (${{ inputs.upgradefrom }}) Run ${{ inputs.hybrid && 'hybrid ' || '' }}VLAB
        if: ${{ inputs.upgradefrom != '' }}
        run: |
          export HHFAB_JOIN_TOKEN=$(openssl rand -base64 24)
          old/hhfab vlab up -v \
            --build-mode="${{ inputs.buildmode }}" \
            --vpc-mode="${{ inputs.vpcmode != 'l2vni' && inputs.vpcmode || ''  }}" \
            ${{ inputs.hybrid && '--controls-restricted=false' || '' }} \
            ${{ inputs.hybrid && '--ready switch-reinstall' || '' }} \
            ${{ inputs.upgradefrom != '25.04' && '--ready=inspect' || '' }} \
            --ready=setup-vpcs \
            ${{ inputs.upgradefrom != '25.03' && '--ready=setup-peerings' || '' }} \
            --ready=exit

      - name: (${{ inputs.upgradefrom }}) Prepare debug artifacts
        if: ${{ always() && inputs.upgradefrom != '' }}
        run: |
          mkdir -p _debug/0-before/serial
          cp versions.txt _debug/0-before || true
          cp result/diagram.* _debug/0-before || true
          cp vlab.hhs _debug/0-before || true
          cp -r show-tech-output _debug/0-before || true
          cp .zot/log _debug/zot.log || true
          find ./vlab/vms -type f -name serial.log -exec bash -c 'cp $0 _debug/0-before/serial/$(basename $(dirname $0)).log' {} \; || true

      - name: Pre-build script
        run: |
          echo "Running pre-build script"
          ${{ inputs.prebuild }}

      - name: Build hhfab
        run: |
          just --timestamp oci_repo=127.0.0.1:30000 oci=http push

      - name: Init hhfab for virtual mode
        if: ${{ inputs.upgradefrom == '' && !inputs.hybrid }}
        run: |
          bin/hhfab init -v --dev \
            --fabric-mode=${{ inputs.fabricmode }} \
            --include-onie=${{ inputs.includeonie }} \
            --gateway=${{ inputs.gateway }} \
            ${{ inputs.custom_init_args }}
          bin/hhfab vlab gen -v ${{ inputs.mesh && '--mesh-links-count=3' || '' }}

      - name: Init hhfab for hybrid mode
        if: ${{ inputs.upgradefrom == '' && inputs.hybrid }}
        run: |
          source "./lab-ci/envs/$KUBE_NODE/source.sh"
          bin/hhfab init -v --dev \
            --fabric-mode=${{ inputs.fabricmode }} \
            --include-onie=${{ inputs.includeonie }} \
            --gateway=${{ inputs.gateway }} \
            ${{ inputs.custom_init_args }} \
            -w "./lab-ci/envs/$KUBE_NODE/wiring.yaml" \
            ${{ inputs.gateway && '-w "./lab-ci/envs/$KUBE_NODE/wiring-gateway.yaml"' || '' }}

      - name: Print hhfab versions and generate diagrams
        run: |
          bin/hhfab versions | tee versions.txt
          bin/hhfab diagram --format=drawio
          bin/hhfab diagram --format=dot
          bin/hhfab diagram --format=mermaid

      # TODO: make controls restricted again when we figure out how to get NTP upstream working for isolated VMs
      - name: ${{ inputs.upgradefrom != '' && 'Upgrade' || 'Run' }} and test ${{ inputs.hybrid && 'hybrid ' || '' }}VLAB
        run: |
          if [[ "${{ inputs.hybrid }}" == "true" ]]; then
            source "./lab-ci/envs/$KUBE_NODE/source.sh"
          fi

          export HHFAB_JOIN_TOKEN=$(openssl rand -base64 24)
          bin/hhfab vlab up -v \
            --build-mode="${{ inputs.buildmode }}" \
            --vpc-mode="${{ inputs.vpcmode }}" \
            ${{ inputs.hybrid && '--controls-restricted=false' || '' }} \
            ${{ (inputs.upgradefrom == '' && inputs.hybrid) && '--ready switch-reinstall' || '' }} \
            --ready=inspect \
            --ready=setup-vpcs \
            --ready=setup-peerings \
            --ready=test-connectivity \
            ${{ inputs.releasetest && '--ready=release-test' || '' }} \
            ${{ inputs.releasetest_regex && format('--release-test-regexes="{0}"', inputs.releasetest_regex) || '' }} \
            ${{ inputs.releasetest_regex_invert && '--release-test-regexes-invert' || '' }} \
            --ready=exit \
            ${{ inputs.pause_on_failure && inputs.debug && '--pause-on-failure' || '' }} \
            ${{ inputs.upgradefrom != '' && '--upgrade' || '' }}

      - name: Upload Release Test Results
        uses: actions/upload-artifact@v6
        if: ${{ inputs.releasetest && !cancelled()}}
        with:
          name: ${{ env.slug }}--test-results
          path: release-test.xml

      - name: Prepare debug artifacts
        if: ${{ always() }}
        run: |
          mkdir -p _debug/1-current/serial
          cp versions.txt _debug/1-current || true
          cp result/diagram.* _debug/1-current || true
          cp vlab.hhs _debug/1-current || true
          cp -r show-tech-output _debug/1-current || true
          cp .zot/log _debug/zot.log || true
          find ./vlab/vms -type f -name serial.log -exec bash -c 'cp $0 _debug/1-current/serial/$(basename $(dirname $0)).log' {} \; || true

        # TODO: make controls restricted again when we figure out how to get NTP upstream working for isolated VMs
      - name: (After) Run ${{ inputs.hybrid && 'hybrid ' || '' }}VLAB one more time
        if: ${{ inputs.upgradefrom != '' }}
        run: |
          export HHFAB_JOIN_TOKEN=$(openssl rand -base64 24)
          bin/hhfab vlab up -v \
            --build-mode="${{ inputs.buildmode }}" \
            --vpc-mode="${{ inputs.vpcmode }}" \
            ${{ inputs.hybrid && '--controls-restricted=false' || '' }} \
            --ready=wait \
            --ready=exit

      - name: (After) Prepare debug artifacts
        if: ${{ always() && inputs.upgradefrom != '' }}
        run: |
          mkdir -p _debug/2-after/serial
          cp versions.txt _debug/2-after || true
          cp result/diagram.* _debug/2-after || true
          cp vlab.hhs _debug/2-after || true
          cp -r show-tech-output _debug/2-after || true
          cp .zot/log _debug/zot.log || true
          find ./vlab/vms -type f -name serial.log -exec bash -c 'cp $0 _debug/2-after/serial/$(basename $(dirname $0)).log' {} \; || true

      - name: Rename debug artifacts for upload
        if: ${{ always() }}
        run: |
          mv _debug fab-${{ github.run_id }}-${{ env.slug }}

      - name: Upload debug artifacts
        uses: actions/upload-artifact@v6
        if: ${{ always() }}
        continue-on-error: true
        with:
          name: fab-${{ github.run_id }}-${{ env.slug }}
          path: fab-${{ github.run_id }}-${{ env.slug }}

      - name: Setup tmate session for debug
        if: ${{ failure() && github.event_name == 'workflow_dispatch' && inputs.debug }}
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 30
        with:
          limit-access-to-actor: true
